@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

/* LENIS SCROLL RESET */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden; /* Critical for scroll animations */
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-jetbrainsMono);
}
